streamlit
altair
attrs
blinker
bottleneck
brotli
cachetools
certifi
charset-normalizer
click
colorama
gitpython
idna
jinja2
jsonschema
jsonschema-specifications
markupsafe
mkl
mkl-service
mkl-fft
mkl-random
numexpr
numpy
packaging
pandas
pillow
protobuf
pyarrow
pydeck
pysocks
python-dateutil
pytz
pyyaml
referencing
requests
rpds-py
six
smmap
tenacity
toml
tornado
typing-extensions
tzdata
urllib3
watchdog
tensorflow==2.15.0
torch
transformers
sentence-transformers
scikit-learn

